@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Futura PT', sans-serif;

	--breakpoint-3xl: 1920px;

	--breakpoint-sm: 540px;

	--container-8xl: 95vw;
}

@font-face {
	font-family: 'Futura PT';
	src: url('@/assets/fonts/FuturaPT-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('@/assets/fonts/FuturaPT-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	:root {
		--ui-container: var(--container-8xl);
		--ui-primary: var(--ui-color-primary-400);
		--ui-bg: white;
		--ui-bg-elevated: var(--ui-color-neutral-300);
	}

	.dark {
		--ui-primary: var(--ui-color-primary-500);
		--ui-bg: var(--ui-color-neutral-900);
		--ui-bg-elevated: var(--ui-color-neutral-700);
	}
	html,
	body {
		min-width: 320px;
		/* background-color: #c0c0c0; */
	}
}

@layer utilities {
	.pointer-events-none {
		pointer-events: none;
	}
	.visibility-hidden {
		visibility: hidden;
	}

	.focus\:outline:focus {
		outline-width: 1px;
	}

	.l-wrapper {
		max-width: 768px;
		margin: 0 auto;
		width: 100%;
		padding: 0 16px;
	}

	@media (width >= 40rem) {
		@media (hover: hover) {
			.sm\:hover\:opacity-100:hover {
				opacity: 100%;
			}
		}
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.5s ease;
	}

	.fade-enter-from,
	.fade-leave-to {
		opacity: 0;
	}
}

.l-header {
	margin-bottom: 40px;
}

.l-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.l-grid.l-max-4 {
	grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 600px) {
	.l-grid {
		grid-template-columns: 1fr 1fr;
	}
}